templates/adftemplate.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "AzureDataLakeStorage1_accountKey": {
            "type": "SecureString",
            "metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
        },
        "SparkCluster_password": {
            "type": "SecureString",
            "defaultValue": "Thisisapassword1",
            "metadata": "Secure string for 'password' of 'SparkCluster'"
        },
        "SparkCluster_properties_typeProperties_userName": {
            "defaultValue": "admin",
            "type": "String"
        },
        "AzureBlobStorage1_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'AzureBlobStorage1'"
        }
    },
    "variables": {
        "factoryName": "[concat('adf-', uniqueString(resourceGroup().id))]",
        "AzureDataLakeStorageName": "[concat('adlsgen2', uniqueString(resourceGroup().id))]",
        "blobStorageName": "[concat('blob', uniqueString(resourceGroup().id))]",
        "factoryId": "[concat('Microsoft.DataFactory/factories/', variables('factoryName'))]",
        "sparkClusterName": "[concat('spark-', uniqueString(resourceGroup().id))]",
        "clusterUrl": "[concat('https://', variables('sparkClusterName'), '.azurehdinsight.net')]",
        "adlsgen2url": "[concat('https://', variables('AzureDataLakeStorageName'), '.dfs.core.windows.net')]",
        "AzureBlobStorage1_connectionString": "[concat('DefaultEndpointsProtocol=https;AccountName=', variables('blobStorageName'), ';AccountKey=', parameters('AzureBlobStorage1_accountKey'), ';EndpointSuffix=core.windows.net')]"
    },
    "resources": [
        {
            "type": "Microsoft.DataFactory/factories",
            "apiVersion": "2018-06-01",
            "name": "[variables('factoryName')]",
            "location": "West US",
            "identity": {
                "type": "SystemAssigned"
            }
        },
        {
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "name": "[concat(variables('factoryName'), '/AzureDataLakeStorage1')]",
            "dependsOn": ["[variables('factoryName')]"],
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[variables('adlsgen2url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('AzureDataLakeStorage1_accountKey')]"
                    }
                }
            }
        },
        {
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "name": "[concat(variables('factoryName'), '/SparkCluster')]",
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]",
                "[variables('factoryName')]"
            ],
            "properties": {
                "annotations": [],
                "type": "HDInsight",
                "typeProperties": {
                    "clusterUri": "[variables('clusterUrl')]",
                    "userName": "[parameters('SparkCluster_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('SparkCluster_password')]"
                    },
                    "isEspEnabled": false,
                    "fileSystem": "[concat(variables('sparkClusterName'), '-2019-01-23t20-00-14-186z')]",
                    "linkedServiceName": {
                        "referenceName": "AzureDataLakeStorage1",
                        "type": "LinkedServiceReference"
                    }
                }
            }
        },
        {
            "name": "[concat(variables('factoryName'), '/AzureBlobStorage1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "connectionString": "[variables('AzureBlobStorage1_connectionString')]"
                }
            },
            "dependsOn": ["[variables('factoryName')]"]
        },
        {
            "name": "[concat(variables('factoryName'), '/IngestAndTransform')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "blobtoadls",
                "activities": [
                    {
                        "name": "Copy_k8z",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [
                            {
                                "name": "Source",
                                "value": "rawdata/"
                            },
                            {
                                "name": "Destination",
                                "value": "files/data/"
                            }
                        ],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "wildcardFileName": "*.*"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings",
                                    "skipLineCount": 0
                                }
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextWriteSettings",
                                    "quoteAllText": true,
                                    "fileExtension": ".txt"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "SourceDataset_k8z",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "DestinationDataset_k8z",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Spark1",
                        "type": "HDInsightSpark",
                        "dependsOn": [
                            {
                                "activity": "Copy_k8z",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "rootPath": "files/adf",
                            "entryFilePath": "sparktransform.py",
                            "sparkJobLinkedService": {
                                "referenceName": "AzureDataLakeStorage1",
                                "type": "LinkedServiceReference"
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "SparkCluster",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/SourceDataset_k8z')]",
                "[concat(variables('factoryId'), '/datasets/DestinationDataset_k8z')]",
                "[concat(variables('factoryId'), '/linkedServices/SparkCluster')]",
                "[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
            ]
        },
        {
            "name": "[concat(variables('factoryName'), '/DestinationDataset_k8z')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureDataLakeStorage1",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "data",
                        "fileSystem": "files"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": false,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    },
                    {
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]",
                "[variables('factoryName')]"
            ]
        },
        {
            "name": "[concat(variables('factoryName'), '/SourceDataset_k8z')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorage1",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "container": "rawdata"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "ordernum",
                        "type": "String"
                    },
                    {
                        "name": "region",
                        "type": "String"
                    },
                    {
                        "name": "store",
                        "type": "String"
                    },
                    {
                        "name": "saledate",
                        "type": "String"
                    },
                    {
                        "name": "dep",
                        "type": "String"
                    },
                    {
                        "name": "item",
                        "type": "String"
                    },
                    {
                        "name": "unitsold",
                        "type": "String"
                    },
                    {
                        "name": "unitprice",
                        "type": "String"
                    },
                    {
                        "name": "employeeID",
                        "type": "String"
                    },
                    {
                        "name": "customerID",
                        "type": "String"
                    },
                    {
                        "name": "loyalty",
                        "type": "String"
                    },
                    {
                        "name": "firstpurchase",
                        "type": "String"
                    },
                    {
                        "name": "freq",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]",
                "[variables('factoryName')]"
            ]
        }
    ]
}